body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 1fr 4fr 1fr;
    grid-template-areas: 
    "logo navigation navigation navigation navigation cart"
    "display_option display_option display_option display_option display_option display_option"
    "main_content main_content main_content main_content . sidebar"
    "footer footer footer footer footer footer";
    gap : 2rem;

    width: 80vw;
    height: auto;
    margin: auto;

    border :black, 1px, solid;
}

header {
    border :black, 1px, solid;

    height: 5vw;
    display: flex;
    justify-content: center;
}

img {
    height: ;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    grid-area: logo;
    background-color: #8FCAF0;
}

.navigation {
    grid-area: navigation;
    background-color: #EE8682;
}

.cart {
    grid-area: cart;
    background-color: #94D5AA;
}

.display_option {
    grid-area: display_option;
    background-color: rgb(244, 183, 251);
}

.main_content {
    grid-area: main_content;
    background-color: rgb(236, 236, 236)
}

.sidebar {
    grid-area: sidebar;
    background-color: #FFFF92;
}

.footer {
    grid-area: footer;
    background-color: #EE8682
}